body {
	background: #ffffff;
	color: #000000;
	font-family: sans-serif;
	margin: 20px;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

hr {
	border: 1px solid #000000;
	background: #000000;
}

table {
	border-spacing: 10px 3px;
	table-layout: fixed;
	width: 100%;
}

p {
	font-size: small;
}

p.native-event {
	margin: 0px;
	font-style: italic;
	font-weight: bold;
}
p.native-class {
	margin: 0px;
}
p.native-room {
	margin: 0px;
}
p.native-teacher {
	margin: 0px;
}

p.conf-event {
	margin: 0px;
	font-style: italic;
	font-weight: bold;
}
p.conf-class {
	margin: 0px;
	display: none;
}
p.conf-room {
	margin: 0px;
	display: none;
}
p.conf-teacher {
	margin: 0px;
	display: none;
}
p.conf-dots {
	margin: 0px;
}

p.footnote-event {
	margin-top: 5px;
	margin-bottom: 0px;
	font-style: italic;
	font-weight: bold;
}
p.footnote-class {
	margin: 0px;
}
p.footnote-room {
	margin: 0px;
}
p.footnote-teacher {
	margin: 0px;
}
p.footnote {
	margin-top: 15px;
}

#footnotes table {
/*	width: auto; */
}

#footnotes td {
	background: #ffffff;
	border: none;
	padding-left: 1cm;
	padding-right: 1cm;
}

#footnotes td.empty {
	border: none;
}

#index table {
	width: auto;
}

#index td {
	background: #ffffff;
	border: none;
	padding-left: 1cm;
	padding-right: 1cm;
}

#index td.empty {
	border: none;
}

td {
	border: 1px solid #000000;
	padding: 3px;
	text-align: left;
	overflow: hidden;
}

td.empty {
	border: 1px solid #ddd;
}

td.conf {
	border: 1px solid #000000;
	background-image: url('stripe.png');
	background-repeat: repeat;
}

th {
	border: none;
}
